<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>3d照片墙</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/3dPhoto.css' %}"/>
	</head>
	<body>
		<div class="show">
			<div class="box">
				<img src="{% static 'images/zhugeliang.jpg' %}" >
				<img src="{% static 'images/sunwukong.jpg' %}" >
				<img src="{% static 'images/diaochan.jpg' %}" >
				<img src="{% static 'images/libai.jpg' %}" >
				<img src="{% static 'images/zhaoyun.jpg' %}" >
				<img src="{% static 'images/donghuang.jpg' %}" >
				<img src="{% static 'images/dianwei.jpg' %}" >
				<img src="{% static 'images/kai.jpg' %}" >
				<img src="{% static 'images/lanlinwang.jpg' %}" >
				<img src="{% static 'images/sunshangxiang.jpg' %}" >
			</div>
		</div>
	</body>
</html>
