<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>百叶窗</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/WindowShades.css' %}"/>
	</head>
	<body>
		<div class="box">
			<ul>
				<li><img src="{% static 'images/danji.jpg' %}" ></li>
				<li><img src="{% static 'images/dianwei.jpg' %}" ></li>
				<li><img src="{% static 'images/diaochan.jpg' %}" ></li>
				<li><img src="{% static 'images/kai.jpg' %}" ></li>
				<li><img src="{% static 'images/lanlinwang.jpg' %}" ></li>
			</ul>
		</div>
	</body>
</html>
