<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>相册</title>
        {% load static %}
		<link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
	</head>
	<body>
    <div class="main">
      <img src="{% static 'images/logo.png' %}" >
      <a href="/ElectronAlbum">电子相册</a>
      <a href="/FullPhoto">全屏背景切换</a>
      <a href="/PhotoWall">照片墙</a>
      <a href="/WindowShades">百叶窗</a>
      <a href="/3dPhoto">3d照片墙</a>
      <a href="/cube">立方体相册</a>

    </div>
	</body>
</html>
